<!DOCTYPE html>
<html>
<head>
  {{{styles}}}
  <script type="text/javascript" src="//use.typekit.net/ivj5ren.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body {{{bodyClasses}}}>
  <div class="wrapper">
    <div class="candidate-image">
      <div class="image-wrapper">
        {{#if variants}}
          <img src="{{candidate_picture}}" alt="{{candidate_name}}">
        {{/if}}
      </div>
      <div class="image-overlay"></div>
    </div>
    <div class="main">
      <div class="main-inner">
        <div class="user-profile">
          <div class="info">
            <h3 class="name">{{{first}}} {{{last}}}</h3>
            <span class="location">
              {{{city}}}
              {{#if state}}{{#if city}}, {{/if}}{{/if}}
              {{#if city}}{{state}}{{else}}{{state_full}}{{/if}}
            </span>
          </div>
          <div class="signature">
            {{#if avatar}}
              <div class="avatar-wrapper">
                <span class="avatar" style="background-image: url({{{avatar}}})"></span>
              </div>
            {{/if}}
          </div>
        </div>
        <p class="statement">
          <span class="candidate-name">
            {{#if candidate_name}}{{candidate_name}}{{else}}Candidate Name{{/if}}
          </span>
          <span>Is my pick to fix</span>
          <span>Obama's <strong>Disaster</strong></span>
        </p>
        <p class="days-count">
          In
          <span id="count" class="count"></span>
          Days
        </p>
      </div>
    </div>
  </div>
  {{{scripts}}}
</body>
</html>
